{% extends 'quotes_app/base.html' %}

{% block content %}
  {% load i18n %}
  {% if notfound %}
    <h3>{% trans 'tag_not_found' %}: {{ name }}</a></h3>
  {% else %}
    <div class="tag_details">
      <h3>{% trans 'viewing_tag' %}: {{ tag.name }}</h3>
    </div>
    
    <nav class="secondary-navigation">
      <ul style="position: relative; width: 100%">
        {% if lpe %}
          <li>
            <a href="{% url 'quotes_app:quote_page' page|add:'-1' %}" role="button">{% trans 'prev_page' %}</a>
          </li>
        {% endif %}
        {% if hpe %}
          <li>
            <a href="{% url 'quotes_app:quote_page' page|add:'1' %}" role="button" style="position: absolute; right: 10px;">{% trans 'next_page' %}</a>
          </li>
        {% endif %}
      </ul>
    </nav>

    <div class="col-md-8">
      {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
          <span class="text" itemprop="text">“{{ quote.text }}”</span>
          <span>
            {% trans 'by' %} <small class="author" itemprop="author">{{ quote.author.name }}</small>
            <a href="/author/{{ quote.author.pk }}">({% trans 'author_about' %})</a>
          </span>
          <div class="tags">
            {% trans 'tags' %}:<meta class="keywords" itemprop="keywords" content="{{ keywords }}" />

            {% for quote_tag in quote.tags.all %}
              <a class="tag" href="{% url 'quotes_app:tag_details' quote_tag.name %}">{{ quote_tag.name }}</a>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}

